<h1>About</h1>
<p>
TJ built this application by following the tutorials at <%= link_to "One Month Rails", "http://onemonthrails.com" %>, which is a 
project to teach the basics of <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> in a single month.
</p>
